doctype html
html(lang="en")
	head
		include ../inc/head.jade
		script(src="/b/holderjs/holder.js")
	body
		- page = "Pictures : " + user.name
		include ../inc/nav.jade
		.container
			.col-md-2
			.col-md-8
				ul.nav.nav-pills
					li
						a(href="/user/id/"+user._id)= user.name
					li.active
						a(href="/picture/userid/"+user._id) Pictures
				.pictures
					each picture in pictures
						a(href="/picture/id/"+picture._id)
							img.img-thumbnail(src="/img/thumb/"+picture.name)
				if isSelf
					a.btn.btn-primary.btn-sm.pull-right(href="/picture/upload") Upload
			.col-md-2
