doctype html
html(lang="en")
	head
		include ../inc/head.jade
		script(src="/b/holderjs/holder.js")
	body
		- page = "Pictures : " + user.name
		include ../inc/nav.jade
		.container
			.col-md-2
			.col-md-8
				a.btn.btn-link(href="/user/id/"+user._id)!= "< "+user.name
				.pictures
					each picture in pictures
						a(href="/picture/id/"+picture._id)
							img.img-thumbnail(src="/img/thumb/"+picture.name)
				if isSelf
					a.btn.btn-primary.btn-sm.pull-right(href="/picture/upload") Upload
			.col-md-2
