doctype html
html(lang="en")
	head
		include ../inc/head.jade
		script(src="/b/holderjs/holder.js")
		!= js("picture")
	body
		- page = "Picture : " + picture.title
		include ../inc/nav.jade
		.container
			.col-md-2
			.col-md-8
				.picture
					a(href="/img/"+picture.name)
						img.img-responsive.center-block(src="/img/"+picture.name)
				.col-md-2
				.col-md-8
					if me && picture._owner._id == me._id
						.pictureID.hidden!= picture._id
						button.btn.btn-sm.btn-link.pull-right.set Set as Profile Image...
						.alert
					h1= picture.title
					h2= "By "
						//a(href="/user/id/"+picture._owner._id)= picture._owner.name
						a(href=route.user.id(picture._owner._id))= picture._owner.name
				.col-md-2
			.col-md-2