link(rel="stylesheet", href="/b/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet", href="/ss/common.css")
script(src="/b/jquery/dist/jquery.min.js")
script(src="/b/bootstrap/dist/js/bootstrap.js")