nav.navbar.navbar-inverse.navbar-fixed-top
	.container-fluid
		.navbar-header 
						// ► 
			a.navbar-brand(href="#")
				span SimpleDirectory ∷ 
				if type === "bad"
					span.page.text-danger=page
				else if type === "good"
					span.page.text-primary=page
				else
					span.page=page
			ul.nav.navbar-nav
				li
					a(href="/user/browse/1") Users
		if me
			ul.nav.navbar-nav.navbar-right
				li
					a(href="/user")= me.name
				li
					a(href="/user/logout") 
						span.glyphicon.glyphicon-log-out
						span  Logout
						