doctype html
html(lang="en")
	head
		include ../inc/head.jade
		script(src="/b/holderjs/holder.js")
		!= js("user")
	body
		- page = user.name
		include ../inc/nav.jade
		.container.profile
			.col-md-2
			.col-md-8
				.panel.panel-default
					.panel-body
						.col-xs-4
							if profilePicture
								img(src!="holder.js/200x200?auto=yes&textmode=exact")
							else
								img(src!="holder.js/200x200?auto=yes&textmode=exact")
							if isSelf
								a(href="#") Choose...
						.col-xs-8
							h1= user.name || "No name oh dear this is bad!"
							.info
								p= user.info || "No description."
							if isSelf
								a.edit(href="#") Edit
							.info-edit
								.form-group
									textarea.form-control.info-box(rows="3")
								.form-group
									button.btn.btn-primary.submit-edit Submit
				a(href="/picture/userid/"+user._id) Pictures
							.alert
			.col-md-2